@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
}

button {
    height: 10vh;
    width: 30vh;
    font-size: x-large;
    border: solid blueviolet;
    border-radius: 5vh;
}

button:hover {
    color: aliceblue;
    height: 10vh;
    width: 30vh;
    font-size: x-large;
    background-color: blueviolet;
    border: solid violet;
    border-radius: 5vh;
    box-shadow: 0 0 15px palevioletred, 0 0 25px palevioletred, 0 0 4 0px palevioletred;
    display: relative;
}